@page "/docente/curso/taller/{taller_id:int}"
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

<div class="container">

    <div class="container-spacing">
        <h2><b>@taller?.nombre</b></h2>
    </div>

</div>

@code {
    [ParameterAttribute]
    public int taller_id { set; get; }
    [Inject] IToastService? toastService { set; get; }
    AuthModel auth { set; get; } = new();
    Taller taller { set; get; }
    List<Tarea> tareas { set; get; }
    DialogDefault? dialog;
    DialogModel? dialogModel;

    protected async override Task OnInitializedAsync()
    {
        auth = await this.GetAuth(GetAuthenticationStateAsync);

        if (!auth.status)
        {
            NavigationManager.NavigateTo("/account", true);
            return;
        }

        onLoadTaller();
        StateHasChanged();
    }

    void onLoadTaller()
    {
        taller = Taller.Find(taller_id);

        if (taller != null)
        {
            if(taller.user_id != auth.user.id)
            {
                NavigationManager.NavigateTo("/denegado", true);
                return;
            }
        }
    }
}
