@page "/calendario/{dateString}"
@using System.Diagnostics;
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

<div class="container">

    <div class="container-spacing">
        <h2>Tareas del <b>@date.ToString("dddd dd \\de\\ MMMM \\del\\ yyyy")</b></h2>
    </div>

</div>



<div class="container">

    @if (tareas != null)
    {
        @foreach (var item in tareas)
        {
            <div class="container-curso">
                <div class="row">
                    <div class="col-2">
                        <button class="tarea-go " @onclick=@(() => TareaClick(item))>
                            <div class="tarea-pin"></div>
                        </button>

                    </div>
                    <div class="col">
                        <div>
                            <label class="tarea-titulo"><b>@item.titulo</b></label>
                        </div>
                        <div>
                            <label class="tarea-entrega">Hora de entrega: <b>@(
                            item.fecha_entrega.ToString("hh:mm:ss")
                            ) </b></label>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
</div>

@code {
    [ParameterAttribute]
    public string? dateString { set; get; }
    DateTime date { set; get; }
    [Inject] IToastService? toastService { set; get; }
    AuthModel auth { set; get; } = new();
    List<Tarea> tareas { set; get; }
    DialogDefault? dialog;
    DialogModel? dialogModel;

    protected async override Task OnInitializedAsync()
    {
        auth = await this.GetAuth(GetAuthenticationStateAsync);

        if (!auth.status)
        {
            NavigationManager.NavigateTo("/account", true);
            return;
        }

        onLoadTareas();
        StateHasChanged();
    }

    void onLoadTareas()
    {
        try
        {
            date = DateTime.Parse(dateString);
        }
        catch
        {
            date = DateTime.Now;
        }

        tareas = Tarea.GetByDate(date);
    }

    async void TareaClick(Tarea item)
    {
        await jsRuntime.InvokeVoidAsync("open", new object[2] { $"tarea/{item.codigo}", "_self" });
    }
}
